@import "tailwindcss";

@theme {
  --font-family-nunito: "Nunito", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
}

:root {
  --font-nunito: "Nunito", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --background: #f9f9f9;
  --foreground: #333;
}

body {
  font-family: var(--font-nunito);
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  display: none;
}
